asgiref==3.7.2
Django==5.0.2
django-appconf==1.0.6
django-compressor==4.4
node==1.2.1
npm==0.1.1
odict==1.9.0
optional-django==0.1.0
plumber==1.7
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
tzdata==2024.1
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.1
zope.lifecycleevent==5.0
zope.proxy==5.2
